
<div class="container p-5">
<h1 class="text-center">Edit Contact</h1>
<%= render "form", user: @user %>

<br>

<div class="row" >

    <div class="col">
    <%= link_to "Back to Contacts", users_path, class:"btn btn-outline-success" %>
    </div>

    <div class="col text-end">
      <%= link_to "Show this Contact", @user, class:"btn btn-outline-primary " %>
    </div>

</div>

</div>
