<div class="container p-5">
<h1 class="text-center" >New Contact</h1>
<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Back to Contacts", users_path, class:"btn btn-outline-success" %>
</div>
</div>
